html {
	font-family: "Georgia";
	background-color: #222;
	color: white;
}
h1 {
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #28f;
}
#main {
	line-height: 1.5;
}
footer {
	background-color: black;
	color: lightgray;
}

/* Desktop */
@media (min-aspect-ratio: 1/1) {
	#main {
		margin-left: 10vw;
		margin-top: 10vh;
		width: 40vw;
	}
	footer {
		margin-top: 20vh;
		height: 5vw;
		padding-left: 7vw;
		padding: 3vw;
	}
}

/* Mobile */
@media (max-aspect-ratio: 1/1) {
	html {
		font-size: 25pt;
	}
	#main {
		margin-left: 10vw;
		margin-top: 8vh;
		width: 80vw;
	}
	footer {
		margin-top: 20vh;
		height: 10vw;
		padding-left: 10vw;
		padding: 4vh;
		padding-bottom: 7vh;
	}
}