html {
	font-family: "Georgia";
	background-color: #222;
	color: white;
}
#main {
	margin-left: 10vw;
	margin-top: 10vh;
	width: 40vw;
	line-height: 1.5;
}
h1 {
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #28f;
}
footer {
	margin-top: 30vh;
	background-color: black;
	color: lightgray;
	height: 5vw;
	padding-left: 7vw;
	padding: 3vw;
}